
ul {
    list-style-type: none;
    text-align: left;
    color: black;
}

.Description p {
    color: black;
    text-align: left;
}

.Description h1 {
    color: black;
}

.LashCertifications h2 {
    color: black;
}

.TattooCertifications {
    color: black;
}

.Awards {
    color: black;
    margin-bottom: 10%;
}

.AboutPage li:hover{
    color:black;
}