.AppointmentList {
    display: flex;
    align-content: center;
    justify-content: center;
}
.AppoinmentList p{
    text-align: center;
}

.AppointmentTbl {
    width: 100%;
    border-collapse: collapse;
}

.AppointmentTbl th{
    border: 1px solid black; 
    background-color: rgb(55, 75, 93);
    color: whitesmoke;
}

.AppointmentTbl td{
    border: 1px solid black;
    background-color: rgb(255, 213, 187); 
}

.cancelAppt {
    cursor: pointer;
}
