.AppointmentConfirm{
    display: flex;
    flex-direction:column;
    width: 80%;
}

.AppointmentConfirm li{
    color: black;
}

.AppointmentConfirm li:hover{
    color: black;
}

.appointmentConfirmForm{
    display: flex;
    flex-direction:column;
    align-items: start;
}

.appointmentConfirmForm button{
    color: white;
    background-color: black;
    width: 100%;
}

.appointmentConfirmForm textarea{
    width: 100%;
    height: 50%;
}