.availabilityView {
    display:flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.toggleBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.toggleBtnContainer button{
    color: white;
    background-color: black;
}

.availabilityDays {
    display:flex;
    flex-direction: row;
}
